version: '3.0'
services:
  ocserv:
    build:
      context: .
      dockerfile: ocserv.Dockerfile
    # image: tommylau/ocserv
    restart: always
    container_name: ocserv
    privileged: true
    hostname: www.example.com
    ports:
      - 443:443/udp
      - 443:443
    volumes:
      - "/opt/ocserv:/etc/ocserv"
      # - /etc/ocserv/certs:/etc/letsencrypt
    environment:
      - CA_CN=VPN CA
      - CA_ORG=Big Corp
      - CA_DAYS=9999
      - SRV_CN=www.example.com
      - SRV_ORG=My Company
      - SRV_DAYS=9999

      
  nginx:
    container_name: nginx-service
    build:
      context: .
      dockerfile: nginx.Dockerfile
    ports:
      - 80:80
      - 443:443
    volumes:
      # - ./config:/config
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /tmp/acme_challenge:/tmp/acme_challenge
      # - certbot-webroot-tols:/webroots/tols/.well-known
      # - certbot-letsencrypt:/etc/letsencryp
    restart: always

# volumes:
#   certbot-webroot-tols:
#   certbot-letsencrypt: