version: '3.7'

services:

  ocserv:
    build:
      context: images/ocserv/
      dockerfile: Dockerfile
    restart: always
    container_name: ocserv
    privileged: true
    hostname: ocserv
    expose:
      - 443
    volumes:
      - ./data/certs:/etc/certs
    environment:
      - OCSERV_DOMAIN=vpn.tols.cn

  nginx:
    container_name: nginx-service
    build:
      context: .
      dockerfile: nginx.Dockerfile
    ports:
      - 80:80
      - 443:443
    volumes:
      # - ./config:/config
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /tmp/acme_challenge:/tmp/acme_challenge
      # - certbot-webroot-tols:/webroots/tols/.well-known
      # - certbot-letsencrypt:/etc/letsencryp
    restart: always

  certwatcher:
    build:
      context: images/certwatcher/
      dockerfile: Dockerfile
    container_name: certwatcher
    restart: always
    volumes:
      - /data/certs:/etc/certs
